// @import '../partials/fonts';
@import './fonts';

// Font Family
$font-stack: "Avenir", sans-serif, Arial;

// Colours
$primary-text: #323232;
$text-background: #FAFAFA;
$primary-colour: #E1E1E1;
$accent-colour: #AFAFAF;
$brainFlix-blue: #0095FF;
$custom-colour: rgb(15, 15, 15);

// Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;