@import '../../partials/global';

.upload {
    width: 100%;
    margin-top: 2%;
    border-top: 1px solid $primary-colour;
    @include desktop {
        margin-top: 0;
    }
    &__title {
        color: $primary-text;
        font-size: 1.5rem;
        margin: 8% 0 10% 5%;
        @include tablet {
            font-size: 2.3rem;
            margin: 5% 0 4% 4%;
        }
        @include desktop {
            font-size: 1.85rem;
            margin: 3% 0 2% 13%;
        } 
    }
    &__container {
        @include tablet {
            width: 93%;
            margin-left: 0;
        }
        @include desktop {
            border-top: 1px solid $primary-colour;
            width: 77.5%;
            margin-left: 13%;
            display: flex;
        }
    }
    &__border {
        @include tablet {
            border-top: 1px solid $primary-colour;
            width: 100%;
            margin-left: 3.5%;
        }
        @include desktop {
            display: none;
        }
    }
    &__thumb {
        @include tablet {
            width: 93%;
            margin-left: 0;
        }
        @include desktop {
            display: flex;
            width: 30%;
            height: 30%;
            flex-flow:  wrap;
            align-content: flex-start;
            margin-right: 1%;

        }
    }
    &__thumb-label {
        font-size: .75rem;
        color: $accent-colour;
        font-weight: 600;
        margin-left: 5%;
        margin-bottom: 2%;
        @include tablet {
            margin: 5% 0 1% 5.5%;
        }
        @include desktop {
            margin: 10% 0 0 0;
            height: 2vw;
        }
    }
    &__thumb-img{
        width: 90vw;
        border-radius: 4px;
        margin: 0 0 5% 5%;
        @include tablet {
            width: 45vw;
            margin-bottom: 3%;
            margin-left: 5.5%;
        }
        @include desktop {
            width: 24vw;
            height: 13.5vw;
            margin-left: 0;
            margin-bottom: 12%;
            box-sizing: border-box;
        }
    }
    &__form {
        @include desktop {
            margin-left: 1%;
            margin-top: .7%;
            position: relative;

        }
        ::placeholder {
            color: $primary-text;
            padding-left: 5%;
            padding-top: 4%;
            font-family: $font-stack;
            @include tablet {
                padding-top: 2%;
                padding-left: 2%;
            }
            @include desktop {
                display: flex;
                width: 70%;
            }
        }
    }
    &__form-list {
        padding: 0;
        margin-left: 5%;
        @include desktop {
            margin-bottom: 10%;
        }
    }
    &__form-vid-title {
        @include inputLabel();
        margin-bottom: 5%;
        @include tablet {
            margin-bottom: 3%;
        }
        @include desktop {
            margin-top: 3.8%;
            margin-bottom: 0;
        }
    }
    &__form-vid-title-input {
        font-family: $font-stack;
        @include textInput();
        height: 14vw;
        @include tablet {
            height: 6vw;
            margin-top: 1%;
        }
        @include desktop {
            // width: 220%;
            width: 50vw;
            height: 3.5vw;
            margin-top: 1.2%;
            margin-bottom: 2%;
        }
    }
    &__form-vid-description {
        @include inputLabel();
        margin-bottom: 10%;
        @include tablet {
            margin-bottom: 5%;
        }
    }
    &__form-vid-description-input {
        font-family: $font-stack;
        @include textInput();
        height: 45vw;
        @include tablet {
            height: 19vw;
            margin-top: 1%;
        }
        @include desktop {
            // width: 220%;
            width: 50vw;
            height: 6.9vw;
            margin-top: 1.2%;
        }
    }
    &__button {
        margin-left: 5%;
        @include tablet {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 15%;
        margin-left: 4.5%;
        width: 99%;
        border-top: 1px solid $primary-colour;
        }
        @include desktop {
        // width: 315%;
        width: 78vw;
        position: absolute;
        left: -27.5vw;
        }
    }    
    &__button-publish-container {
        margin-bottom: 3%;
        display: flex; 
        @include tablet {
            margin-top: 5%;
            margin-right: 0;
        }
        @include desktop {
            margin-top: 4%;
            margin-right: 0;
        }
    }
    &__button-publish {
        @include buttonStyle();
        background-color: $brainFlix-blue;
        color: white;
    }
    &__button-cancel-container {
        display: flex;
        @include tablet {
            margin-top: 5%;
        }
        @include desktop {
            margin-top: 4%;
        }
    }
    &__button-cancel {
        color: $brainFlix-blue;
        background-color: white;
        @include buttonStyle();
    }
}