@import '../../../public/mixins';

.header {
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-evenly;
  // &__logo {
  //   width: 5vw;

  // }
  &__logo-img {
    width: 38vw;
    margin-top: 3%;
    // justify-content: center;
    // align-self: center;
  }
  &__search-container {
    position: relative;
    width: 90%;
    margin-top: 3%;
    margin-right: .5%;
  }
  &__search-container-magnify {
    position: absolute;
    left: 5%;
    top: 30%;
    width: 6vw;
  }
  &__search-container-input {
    width: 86%;
    height: 13vw;
    padding-left: 15%;
  }
  &__nav {
    display: flex;
    width: 100%;
  }
  &__nav-upload {
    width: 70%;
    height: 15vw;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 5%;
    border-radius: .2rem;
    border: solid #0095FF .25px;
    background-color: #0095FF;
    resize: none;
    color: white;
    font-size: 1rem;
  }
  &__nav-upload-img {
    width: 5vw;
    margin-right: 3%;
  }
  &__nav-user-icon {
    width: 16vw;
    height: 16vw;
    margin-top: 4.5%;
    border-radius: 50%;
}
};